:root {
    --COLOR-GRAY: #333333;
    --COLOR-GRAY-DARK: #222222;
    --COLOR-GRAY-LIGHT: #CCCCCC;
    --COLOR-ONGOING: #98C1D9;
    --COLOR-DONE: #EE6C4D;
    font-family: Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}